<% provide(:title, "Clientes") %>
<section class="section">
  <div class="container">
    <div class="title">Clientes</div>
    <div class="columns">
      <div class="column is-3 is-flex">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <%= image_tag "clientes/naturgy.jpg" %>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <p class="title is-6">Naturgy</p>
              <p class="text">
                Concessionária de Distribuição de Gás Canalizado no Estado do RJ
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3 is-flex">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <%= image_tag "clientes/oceanfront.jpg" %>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <p class="title is-6">Ocean Front Resort</p>
              <p class="text">
                Condomínio - Barra da Tijuca
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3 is-flex">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <%= image_tag "clientes/alfaquality.jpg" %>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <p class="title is-6">Alfa Quality</p>
              <p class="text">
                Condomínio - Barra da Tijuca
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3 is-flex">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <%= image_tag "clientes/riviera.jpg" %>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <p class="title is-6">Riviera</p>
              <p class="text">
                Condomínio - Barra da Tijuca
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>