<% provide(:title, "Empresa") %>
<section class="section">
  <div class="container">
    <div class="title">Quem somos</div>
    <div class="text has-text-justified">
      <p>
        A <strong>Projectway</strong> é formada por profissionais de
        reconhecida experiência no mercado,
        com resultados individuais de grande relevância que
        se reuniram em busca de
        um objetivo comum, que é prestar serviços
        diferenciados, inovadores e com custo
        adequado, buscando as melhores soluções para os
        clientes.
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="title">Nossa equipe</div>
    <div class="columns">
      <div class="column is-flex is-narrow">
        <div class="card">
          <div class="card-content">
            <p class="title is-5">Gleizer Rocha</p>
            <p class="text">
              Engª, Arquiteta, Urbanista, Contadora, <br />
              Engª Segurança, Perita Judicial, <br />
              Consultora Técnica em Eficiência Energética e Engenharia.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-flex is-narrow">
        <div class="card">
          <div class="card-content">
            <p class="title is-5">Patrícia Novo</p>
            <p class="text">
              Engª Perita Judicial, <br />
              Consultora Técnica em Eficiência Energética e Engenharia.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

