<% provide(:title, "Resultados") %>
<section class="section">
  <div class="container">
    <div class="title">Resultados</div>
    <div class="columns is-variable is-5">
      <div class="column is-4">
        <div class="title is-6">Demandas Judiciais</div>
        <p class="text has-text-justified">
          Os nossos pareceres técnicos resultam em <strong class="has-text-link">decisões favoráveis</strong> para nossos clientes em cerca de 99% das situações, seja confirmando o cabimento das ações ou revertendo entendimentos desfavoráveis.
        </p>
      </div>
      <div class="column is-4">
        <div class="title is-6">Recuperação Creditícia</div>
        <p class="text has-text-justified">
          As ações da Projectway proporcionaram aos nossos clientes a recuperação de cerca de <strong class="has-text-link">xx milhões de reais</strong>, nos últimos xx anos.
        </p>
      </div>
      <div class="column is-4">
        <div class="title is-6">Assistência Regulatória</div>
        <p class="text has-text-justified">
          A consultoria obteve cerca de <strong class="has-text-link">99% de aproveitamento</strong> na redução ou exclusão de multas regulatórios e 99% de decisões favoráveis aos nossos clientes.
        </p>
      </div>
    </div>
  </div>
</section>