<% provide(:title, "Resultados") %>
<section class="section">
  <div class="container">
    <div class="title">Resultados</div>
    <div class="columns is-variable is-5">
      <div class="column is-4">
        <div class="title is-6">Demandas Judiciais</div>
        <p class="text has-text-justified">
          Os nossos pareceres técnicos, elaborados sob a ótica pericial, resultam em <strong class="has-text-link">decisões favoráveis</strong> para nossos clientes, seja confirmando o cabimento das ações ou revertendo entendimentos desfavoráveis.
        </p>
      </div>
      <div class="column is-4">
        <div class="title is-6">Recuperação Creditícia</div>
        <p class="text has-text-justified">
          As ações da Projectway proporcionaram aos nossos clientes a recuperação de recursos financeiros da ordem de <strong class="has-text-link">milhões de reais</strong>, seja no suporte a renegociações contratuais ou na emissão de pareceres técnicos.
        </p>
      </div>
      <div class="column is-4">
        <div class="title is-6">Assistência Regulatória</div>
        <p class="text has-text-justified">
          A consultoria tem grande expertise na atuação em processos regulatórios, <strong class="has-text-link">obtendo excelentes resultados</strong> na redução ou exclusão de multas regulatórias e decisões favoráveis aos nossos clientes.
        </p>
      </div>
    </div>
  </div>
</section>