<% provide(:title, "Serviços Para Condomínios e Clientes Individuais") %>
<%= javascript_pack_tag "items", defer: 'true' %>

<section class="section">
  <div class="container">
    <div class="title">
      Serviços
    </div>
    <div class="subtitle is-uppercase is-spaced">
      Condomínios e Clientes Individuais
    </div>

    <div class="title service is-4">
      Consultoria Operacional
    </div>
    <div class="columns is-multiline">
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Diagnóstico Operacional da Edificação
          </div>
          <div class="itemDesc">
            Avaliação da infraestrutura do condomínio e os seus processos, como consumo de água, consumo de gás, de energia elétrica, bem como os equipamentos que compõem os sistemas.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Avaliação da Performance Energética dos Processos
          </div>
          <div class="itemDesc">
            Verificação de como e quando a energia é utilizada, qual a eficiência dos equipamentos e identificar desperdícios de energia.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Análise dos Contratos de Prestação de Serviços (Serviços Concedidos)
          </div>
          <div class="itemDesc">
            Análise das contas de consumo, buscando avaliar oportunidades de economia.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Definição de novos padrões de performance energética
          </div>
          <div class="itemDesc">
            Apresentação de um procedimento para verificação de oportunidades de Eficiência Energética nos Processos do condomínio. Elaboração de Relatório de performance de redução de consumo de energia.
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="title service is-4">
      Gestão Condominal
    </div>
    <div class="columns is-multiline">
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Assistência Técnica para Demandas Judiciais
          </div>
          <div class="itemDesc">
            Elaboração de estratégia, emissão de Pareceres e Notas Técnicas, Quesitação, Acompanhamento de Diligências Periciais, Testes em Laboratórios, Análise de processos judiciais sob a ótica pericial.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Assessoria em Processos de Contratação de Empresas
          </div>
          <div class="itemDesc">
            Análise das necessidades do condomínio, elaboração de editais de licitação, emissão de termos de referência e assessoria ao condomínio na seleção dos prestadores de serviços.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Assessoria para manutenção, reformas e serviços técnicos em geral
          </div>
          <div class="itemDesc">
            Elaboração de critérios de execução, controle de qualidade, movimentação financeira dos serviços.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Representação junto aos órgãos oficiais e demais instituições
          </div>
          <div class="itemDesc">
            Assessoria técnica junto à Prefeitura e Concessionárias de Serviços Públicos.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Treinamentos
          </div>
          <div class="itemDesc">
            Aplicação de treinamentos voltados à Segurança Operacional, Prevenção de Acidentes, Serviços Administrativos, etc.
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="title service is-4">
      Gestão de Projetos e Obras
    </div>
    <div class="columns is-multiline">
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Diagnóstico Pré-obra
          </div>
          <div class="itemDesc">
            Execução de autovistoria predial segundo a Lei Estadual nº 6.400 de 05 de março de 2013, Lei Complementar nº 2963 de 11 de junho de 2012, Decreto nº 37.426 de 11 de julho 2013, PLS 491/2011, Inspeção Periódica de gás (autovistoria), Lei Estadual 6.890 de 2014, vistorias pontuais, conforme a necessidade do contratante.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Gerenciamento de Projetos
          </div>
          <div class="itemDesc">
            Acompanhamento de projetos de construções ou reformas, desde a elaboração até a entrega dos serviços.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Assessoria em Licitação de Obras
          </div>
          <div class="itemDesc">
            Elaboração de editais e assessoria na seleção dos prestadores de serviços.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Gerenciamento e Fiscalização de Obras
          </div>
          <div class="itemDesc">
            Fiscalização da execução dos serviços contratados, documentação da empresa executora e dos funcionários, acompanhamento dos serviços, buscando a otimização dos custos, controle de qualidade e análise de relatórios.
          </div>
        </div>
      </div>
    </div>

  </div>
</section>