<% provide(:title, "Serviços Para Condomínios e Clientes Individuais") %>
<%= javascript_pack_tag "items" %>

<section class="section">
  <div class="container">
    <div class="title">
      Serviços
    </div>
    <div class="subtitle is-uppercase is-spaced">
      Grandes Clientes e Concessionárias de Serviços Públicos
    </div>

    <div class="title service is-4">
      Assessoria Técnico-Regulatoria
    </div>
    <div class="columns is-multiline">
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Assistência Técnica Judicial
          </div>
          <div class="itemDesc">
            Elaboração de estratégia, emissão de Pareceres e Notas Técnicas, Quesitação, Acompanhamento de Diligências Periciais, Testes em Laboratórios, Análise de processos judiciais sob a ótica pericial.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Assistência Regulatória
          </div>
          <div class="itemDesc">
            Elaboração de defesa técnica junto ao órgão regulador, emissão de Pareceres e Notas Técnicas, análise de processos para redução de multas regulatórias.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Representação junto aos órgãos oficiais
          </div>
          <div class="itemDesc">
            Taxa de uso do subsolo, assessoria para legalização de processos.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Suporte à recuperação creditícia
          </div>
          <div class="itemDesc">
            Elaboração de estratégia para recuperação de débitos de clientes inadimplentes ou dos custos despendidos pela organização em casos de avarias nos seus ativos, causadas por terceiros. Análise preventiva de perdas não- físicas possivelmente causadas por fraudes no sistema de medição.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Treinamentos
          </div>
          <div class="itemDesc">
            Aplicação de treinamentos com a ótica pericial, voltados para as áreas técnicas, como manutenção e medição.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>