<% provide(:title, "Serviços Para Condomínios e Clientes Individuais") %>
<%= javascript_pack_tag "items", defer: 'true' %>

<section class="section">
  <div class="container">
    <div class="title">
      Serviços
    </div>
    <div class="subtitle is-uppercase is-spaced">
      Condomínios e Clientes Individuais
    </div>

    <div class="title service is-4">
      Consultoria Operacional
    </div>
    <div class="columns is-multiline">
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Diagnóstico Operacional da Edificação
          </div>
          <div class="itemDesc">
            Avaliação da infraestrutura do condomínio e os seus processos, como consumo de água, consumo de gás, de energia elétrica, bem como os equipamentos que compõem os sistemas.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Avaliação da Performance Energética dos Processos
          </div>
          <div class="itemDesc">
            Verificação de como e quando a energia é utilizada, qual a eficiência dos equipamentos e identificar desperdícios de energia.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Análise dos Contratos de Prestação de Serviços (Serviços Concedidos)
          </div>
          <div class="itemDesc">
            Análise das contas de consumo, buscando avaliar oportunidades de economia.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Definição de novos padrões de performance energética
          </div>
          <div class="itemDesc">
            Apresentação de um procedimento para verificação de oportunidades de Eficiência Energética nos Processos do condomínio. Elaboração de Relatório de performance de redução de consumo de energia.
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="title service is-4">
      Gestão Condominal
    </div>
    <div class="columns is-multiline">
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Assistência Técnica para Demandas Judiciais
          </div>
          <div class="itemDesc">
            Elaboração de estratégia, emissão de Pareceres e Notas Técnicas, Quesitação, Acompanhamento de Diligências Periciais, Testes em Laboratórios, Análise de processos judiciais sob a ótica pericial.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Assessoria em Processos de Contratação de Empresas
          </div>
          <div class="itemDesc">
            Análise das necessidades do condomínio, elaboração de editais de licitação, emissão de termos de referência e assessoria ao condomínio na seleção dos prestadores de serviços.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Assessoria para manutenção, reformas e serviços técnicos em geral
          </div>
          <div class="itemDesc">
            Elaboração de critérios de execução, controle de qualidade, movimentação financeira dos serviços.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Representação junto aos órgãos oficiais e demais instituições
          </div>
          <div class="itemDesc">
            Assessoria técnica junto à Prefeitura e Concessionárias de Serviços Públicos.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Treinamentos
          </div>
          <div class="itemDesc">
            Aplicação de treinamentos voltados à Segurança Operacional, Prevenção de Acidentes, Serviços Administrativos, etc.
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="title service is-4">
      Gestão de Projetos e Obras
    </div>
    <div class="columns is-multiline">
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Diagnóstico Pré-obra
          </div>
          <div class="itemDesc">
            Execução de autovistoria predial segundo a Lei Estadual nº 6.400 de 05 de março de 2013, Lei Complementar nº 2963 de 11 de junho de 2012, Decreto nº 37.426 de 11 de julho 2013, PLS 491/2011, Inspeção Periódica de gás (autovistoria), Lei Estadual 6.890 de 2014, vistorias pontuais, conforme a necessidade do contratante.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Gerenciamento de Projetos
          </div>
          <div class="itemDesc">
            Acompanhamento de projetos de construções ou reformas, desde a elaboração até a entrega dos serviços.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Assessoria em Licitação de Obras
          </div>
          <div class="itemDesc">
            Elaboração de editais e assessoria na seleção dos prestadores de serviços.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Gerenciamento e Fiscalização de Obras
          </div>
          <div class="itemDesc">
            Fiscalização da execução dos serviços contratados, documentação da empresa executora e dos funcionários, acompanhamento dos serviços, buscando a otimização dos custos, controle de qualidade e análise de relatórios.
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="title service is-4">
      Avaliações Patrimoniais e Econômicas
    </div>

    <div class="columns is-multiline">
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Avaliação de Ativos
          </div>
          <div class="itemDesc">
            A Projectway oferece aos seus clientes a avaliação dos ativos, uma vez que,
            sem avaliações frequentes as empresas desconhecem o retorno do capital
            investido, porque o valor de mercado de um ativo é alterado ao longo do
            tempo, de acordo com sua depreciação física e fatores econômicos.
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Quando é necessária a avaliação dos ativos?
          </div>
          <div class="itemDesc">
            <ul type="disc">
              <li>Seguros de bens patrimoniais;</li>
              <li>Avaliações para suporte de reestruturação societária (Lei das S/A);</li>
              <li>Realização de incorporações;</li>
              <li>Impugnação de valor venal – IPTU;</li>
              <li>Garantias para obtenção de financiamentos;</li>
              <li>Reavaliação de ativos imobilizados;</li>
              <li>Negociações como vendas, fusões, cisões, aquisições e joint-ventures;</li>
              <li>Para capitalização de Fundos de Previdência;</li>
              <li>Nacionalização de máquinas e equipamentos- visa atender portarias nº 8
              do MICT 370/94 e 150 do DECEX, Departamento de Comércio Exterior.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Por que fazer a avaliação dos ativos?
          </div>
          <div class="itemDesc">
            <ul type="disc">
              <li>Tomar conhecimento do valor justo de mercado de um ativo;</li>
              <li>Suporte à tomada de decisões gerenciais;</li>
              <li>Redução de custos;</li>
              <li>Registro do Patrimônio.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            O que avaliar?
          </div>
          <div class="itemDesc">
            <ul type="disc">
              <li>Imóveis comerciais, residenciais e rurais tais como prédios, casas,
              apartamentos, lojas e sobrelojas, glebas, terrenos, fazendas, etc;</li>
              <li>Máquinas e equipamentos;</li>
              <li>Móveis e utensílios;</li>
              <li>Empreendimentos imobiliários: hotéis, parques temáticos, shopping centers,
              supermercados, hospitais;</li>
              <li>Empreendimentos de base industrial: complexos industriais tais como
              frigoríficos, agroindústrias, refinarias, estaleiros e indústrias de transformação;</li>
              <li>Veículos, aeronaves e embarcações.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Teste de Impairment- Lei 11.638/2007
          </div>
          <div class="itemDesc">
            <p>Teste de recuperabilidade, para a avaliação da condição de liquidez dos ativos
            fazendo uma correlação com seus valores de mercado e fluxos de caixa.</p> <br />
            <p>Consiste, basicamente, na realização de uma avaliação patrimonial do bem para
            mensurar seu justo valor de mercado, elaborada mediante a aplicação dos conceitos
            técnicos definidos pela Engenharia de Avaliação. </p> <br />
            <p>Com a realização deste Teste de Impairment as demonstrações contábeis da empresa
            passam a estar “de acordo” com as práticas contábeis em vigor no Brasil, e
            consequentemente, em condições de serem auditadas por Auditor Independente sem
            qualquer ressalva e/ou contestação. </p> <br />
            <b>Leia mais:</b>
            <a href="http://static.cpc.aatb.com.br/Documentos/26_CPC%2001%20R1%20Termo%2
0de%20Aprova%C3%A7%C3%A3o.pdf" target="_blank">Documento 1</a> |
            <a href="http://static.cpc.aatb.com.br/Documentos/28_CPC01R1_Sumario.pdf" target="_blank">Documento 2</a>
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Reavaliação do Ativo Imobilizado - Lei 11638
          </div>
          <div class="itemDesc">
            <p>A Reavaliação dos bens patrimoniais (ativo imobilizado) tem a finalidade de
            adequação à Lei 11638 e IFRS e são realizados conforme as recomendações das
            NBR 14653 da ABNT- Associação Brasileira de Normas Técnicas, IBAPE – Instituto
            Brasileiro de Avaliações e Perícia de Engenharia de São Paulo, INMETRO – Instituto
            Nacional de Metrologia, Normalização e Qualidade Industrial e Normas
            internacionalmente reconhecidas para fins de avaliação de ativo imobilizado –
            Internacional Valuation Satandard Council (IVSC).</p> <br />
            <p>Os Laudos de Avaliação são elaborados com a relação de bens inventariados e
            conciliados com os respectivos registros contábeis por componente, com a utilização
            dos mesmos critérios de abertura dos itens registrados na contabilidade, com
            descritivo da metodologia utilizada, premissas técnicas: manutenção das máquinas,
            instalação e formas de operação das máquinas, planejamento de substituição das
            máquinas, evolução tecnológica, base de cálculos, pesquisa no mercado, etc de forma
            verificar os valores valor de mercado, valor líquido de venda (CPC 01), Valor residual
            final (CPC 27), Custo atribuído (Deemed Cost), Vida útil econômica, conforme a
            finalidade contratada.</p>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="title service is-4">
      Perícias e Vistorias
    </div>

    <div class="columns is-multiline">
      <div class="column is-narrow">
        <div class="item">
          <div class="itemTitle">
            Assessoria
          </div>
          <div class="itemDesc">
            <p>
              Assessoramento em todas as etapas de processos judiciais, extrajudiciais, que
              envolvam discussão de valores e matéria técnica de engenharia, tais como:
            </p> <br />
            <p>
              <ul type="disc">
                <li>Danos construtivos;</li>
                <li>Impermeabilizações e obras de modo geral;</li>
                <li>Laudos e Pareceres Extra Judiciais;</li>
                <li>Ações renovatórias;</li>
                <li>Desapropriações;</li>
                <li>Inventários;</li>
                <li>Falências;</li>
                <li>Demarcações;</li>
                <li>Seguros;</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>